<%= link_to root_path, class: 'logo', method: :get do %>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<hr>

<p>※一時的に観光スポット追加用のフォーム</p><br>
<%= form_tag sessions_login_path, method: :post, data: { turbo: false} do %>
<%= label_tag :uid, 'ユーザーID' %>
<%= text_field_tag :uid %><br><br>
<%= label_tag :pass, 'パスワード' %>
<%= password_field_tag :pass %>
<%= submit_tag 'ログイン' %>
<% end %>

<%= link_to "新規会員登録", tourist_new_path %>