<%= link_to root_path, class: 'logo', method: :get do %>
<body>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<br>
<% if current_user %>
  <%= link_to "マイページへ", "/reservation/#{session[:tourist_id]}" %>
  <%= link_to "ログアウト" ,sessions_logout_path %>
  <%= link_to "観光地追加" , spot_new_path %>
  <%= link_to "ツアー追加" , tour_new_path %>
  <%= link_to "観光地一覧", spot_index_path %>
  <!--<a href="/L9/Fukuoka/mojiko.html.erb">門司港</a>-->
<% else %>
  <%= link_to "ログイン", sessions_main_path %>
<% end %>

<%#>
<div id="humberger">
  <div></div>
  <div></div>
  <div></div>
</div>
<#%>






<!-- ↓新ハンバーガーメニュー↓ -->
	<div class="hamburger-demo-menubox">
		<input id="hamburger-demo1" type="checkbox" class="input-hidden">
		<label for="hamburger-demo1" class="hamburger-demo-switch hamburger-demo-switch1">
			<span class="hamburger-switch-line1"></span>
		</label>
		<div class="hamburger-demo-menuwrap">
			<ul class="hamburger-demo-menulist">
				<li><a href="#">マイページ</a></li>
				<li><a href="#">予約一覧</a></li>
				<li><a href="/L9/Fukuoka/tourist/create.html.erb">観光地検索</a></li>
				<li><a href="/L9/Fukuoka/tourist/create.html.erb">宿泊地検索</a></li>
				<li><a href="#">投稿</a></li>
			</ul>
		</div>
		<div class="hamburger-demo-cover"></div>
	</div>
<!-- ↑新ハンバーガーメニューここまで↑ -->
</div>






<div>
  <hr class="hr1">
</div>


<div class = 'map'>
    <%= image_tag 'map.png' %>
    <p id="chikugo"><a href="#" class="btn1">筑後</a></p>
    <p id="fukuoka"><a href="welcomes/fukuoka" class="btn2">福岡</a></p>
    <p id="kitakyusyu"><a href="#" class="btn3">北九州</a></p>
    <p id="chikuho"><a href="#" class="btn4">筑豊</a></p>
</div>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<form method="get" action="#" class="search_container">
  <input type="text" size="25" placeholder="　キーワード検索">
  <input type="submit" value="&#xf002">
</form>

<div class="age">
<select name="age">
<option value="">年齢を選択してください</option>
<option value="18歳未満">18歳未満</option>
<option value="18-25歳">18-25歳</option>
<option value="26-35歳">26-35歳</option>
<option value="35-49歳">35-49歳</option>
<option value="50歳以上">50歳以上</option>
</select>
</div>



<div class="count">
<select name="count">
<option value="">人数を選択してください</option>
<option value="18歳未満">1人</option>
<option value="18-25歳">2人</option>
<option value="26-35歳">3人</option>
<option value="35-49歳">4人</option>
<option value="50歳以上">5人以上</option>
</select>
</div>


<form>
  <lavel>
    <input type="date" />
  </label>
</form>
</body>