<!-- app/views/welcomes/show.html.erb -->
<%= link_to root_path, class: 'logo', method: :get do %>
<body>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>

<div class="hamburger-demo-menubox">
		<input id="hamburger-demo1" type="checkbox" class="input-hidden">
		<label for="hamburger-demo1" class="hamburger-demo-switch hamburger-demo-switch1">
			<span class="hamburger-switch-line1"></span>
		</label>
		<div class="hamburger-demo-menuwrap">
			<ul class="hamburger-demo-menulist">
				<li><a href="#">マイページ</a></li>
				<li><a href="#">予約一覧</a></li>
				<li><a href="/L9/Fukuoka/tourist/create.html.erb">観光地検索</a></li>
				<li><a href="/L9/Fukuoka/tourist/create.html.erb">宿泊地検索</a></li>
				<li><a href="#">投稿</a></li>
			</ul>
		</div>
		<div class="hamburger-demo-cover"></div>
	</div>

<div>
  <hr class="hr1">
</div>

<h1 id="fukkan">【福岡地方】おすすめ観光地＆グルメ　一覧！！！</h1>
<h2 id="kanko1">観光地</h2>
<ul1>
	<div class="flexbox">
		<article class = 'tower'>
			<%= image_tag 'fukuokatower.jpg', id:'tower_pic' %>
			<p>福岡タワー</p>
			<p>〒814-0001 福岡県福岡市早良区百道浜2丁目3-26</p>
		</articl>
		
		<articl class = 'BOSS'>
			<%= image_tag 'BOSS E･ZO FUKUOKA.jpg', id:'fuk_pic' %>
			<p>BOSS E･ZO FUKUOKA</p>
			<p>〒810-0065 福岡県福岡市中央区地行浜2丁目2-6</p>
		</articl>
		
		<articl class = 'paypay'>
			<%= image_tag 'paypay.jpg', id:'fuk_pic' %>
			<p>paypayドーム</p>
			<p>〒810-8660 福岡県福岡市中央区地行浜2丁目2-2</p>
		</articl>
		
		<div class = 'hakata'>
			<%= image_tag 'hakatastation.jpg', id:'fuk_pic' %>
			<p>JR博多駅</p>
			<p>〒812-0012福岡県福岡市博多区博多駅中央街1-1</p>
		</div>
		
		<articl class = 'lala'>
			<%= image_tag 'lala.jpg', id:'fuk_pic' %>
			<p>ららぽーと福岡</p>
			<p>〒812-8627福岡県福岡市博多区那珂6丁目23-1</p>
		</articl>
		
		<articl class = 'fukuma'>
			<%= image_tag 'fukuma3.jpg', id:'fuk_pic' %>
			<p>福間海岸</p>
			<p>〒811-3219福岡県福津市西福間3丁目</p>
		</articl>
		
		<articl class = 'shika'>
			<%= image_tag 'shikano.jpg', id:'fuk_pic' %>
			<p>志賀島</p>
			<p>〒811-0323福岡県福岡市東区志賀島1520-2</p>
		</articl>
		
		<articl class = 'dazaihu'>
			<%= image_tag 'dazaihu.jpg', id:'fuk_pic' %>
			<p>太宰府天満宮</p>
			<p>福岡県太宰府市宰府4丁目7番1号</p>
		</articl>
		
		<articl class = 'zoo'>
			<%= image_tag 'zoo.jpg', id:'fuk_pic' %>
			<p>福岡市動植物園</p>
			<p>〒810-0037福岡県福岡市南公園</p>
		</articl>
		
		<articl class = 'aqua'>
			<%= image_tag 'aqua.jpg', id:'fuk_pic' %>
			<p>マリンワールド海の中道</p>
			<p>〒811-0321福岡県福岡市東区大字西戸崎18-28</p>
		</articl>
		
		<articl class = 'miyaji'>
			<%= image_tag 'miyaji.jpg', id:'fuk_pic' %>
			<p>宮地嶽神社</p>
			<p>〒811-3309福岡県福津市宮司元町7-1</p>
		</articl>	
</ul1>
<ul2　class="flexbox">
	<h2 id="gurume">グルメ</h2>
	<div class="flexbox">
  	<article class="itiran">
    	<%= image_tag 'itiran2.jpg', id:'fuk_pic' %>
    	<p>一蘭 本社総本店</p>
    	<p>〒810-0801福岡県福岡市博多区中洲5丁目3-2</p>
  	</article>
	</div>
</ul2>
