<%= link_to root_path, class: 'logo', method: :get do %>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<hr>

<div class="parent">
<% @spot.each do |e| %>
<% if e.area == 1 %>
<div class="child">
    <strong><font face="ＭＳ 明朝"><%= e.name %></font></strong>
    <br>
    <% if e.pictureinfo == 1 %>
    <%= image_tag "/get_spot/#{e.id}" , size: '300x200'%>
    <% elsif e.pictureinfo == 2 %>
    <%= image_tag "/get_spot/#{e.id}" , size: '225x300'%>
    <% end %>
    <br>

    <%= "エリア:" %>
    <% if e.area == 1 %>
        <%= "福岡エリア" %>
    <% elsif e.area == 2 %>
        <%= "北九州エリア" %>
    <% elsif e.area == 4 %>
        <%= "筑豊エリア" %>
    <% elsif e.area == 3 %>
        <%= "筑後エリア" %>
    <% end %>
    <%= "目的:" %>
    <% if e.purpose == 1 %>
        <%= "観光" %>
    <% elsif e.purpose == 2 %>
        <%= "グルメ" %>
    <% end %>
    <br>
    <%= e.address2 %>

    <%= link_to '観光地詳細へ', "/spot/#{e.id}" %>
    <br>


    <br>
    <br>
    </div>
<% end %>
<% end %>
</div>

<%= link_to "前ページに戻る" ,:back %>