<%= link_to root_path, class: 'logo', method: :get do %>
  <div>
    <%= image_tag "logo.png" %>
  </div>
<% end %>
<hr>

<%= form_tag '/reservation' , method: :post , data: { turbo: false } do %>
    <% spot = Spot.find(params[:spot_id]) %>
    <%= hidden_field_tag :spot_id, params[:spot_id] %>
    <%= "観光地名称" %>
    <%= spot.name %>
    <br>
    <%= spot.picture %>
    <%= "観光地エリア" %>
    <%= spot.address %>
    <br>
    <%= "観光地住所" %>
    <%= spot.access %>
    <%= label_tag :people_count, "人数" %>
    <br>
    <%= number_field_tag :people_count %>
    <%= label_tag :date, "日付" %>
    <%= date_field_tag :date %>

    <%= submit_tag 'ご予約へ' %>
<% end %>